
.crystals{
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(255, 0, 212);
    align-items: center;
}

.crystal{
    border:1px solid black;
    height:200px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0. 0.5);
     transition: box-shadow 2s;
}

.crystal:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0. 0.5);
    transform: translate(5px, 5px);
    cursor: pointer;
    transition: box-shadow 2s;
}

img{
    width:50px;
}